################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TeamWont2/v16
/Ethtallion’s Journey/obj/Debug
/Ethtallion’s Journey/Temp/bin/Debug
/Ethtallion’s Journey/Temp
Ethtallion’s Journey/Library/CurrentLayout.dwlt
Ethtallion’s Journey/Assembly-CSharp.csproj
Ethtallion’s Journey/Library/CurrentLayout.dwlt
Ethtallion’s Journey/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Ethtallion’s Journey/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Ethtallion’s Journey/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
*.json
*.json
Ethtallion’s Journey/Library/StateCache/SceneView/001cc8-7f1b68e09c1ff034b9.json
Ethtallion’s Journey/Library/shadercompiler-UnityShaderCompiler.exe0.log
Ethtallion’s Journey/Library/ScriptAssemblies/Assembly-CSharp.pdb
Ethtallion’s Journey/Library/ScriptAssemblies/Assembly-CSharp.dll
Ethtallion’s Journey/Library/StateCache/Hierarchy/6d61d8-mainStage.json
Ethtallion’s Journey/Library/StateCache/SceneView/001cc8-mainStage.json
Ethtallion’s Journey/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Ethtallion’s Journey/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Ethtallion’s Journey/Library/StateCache/SceneView/001cc8-7f1b68e09c1ff034b9.json
Ethtallion’s Journey/Library/shadercompiler-UnityShaderCompiler.exe0.log
Ethtallion’s Journey/Library/ScriptAssemblies/Assembly-CSharp.pdb
Ethtallion’s Journey/Library/ScriptAssemblies/Assembly-CSharp.dll
Ethtallion’s Journey/Library/StateCache/Hierarchy/6d61d8-mainStage.json
Ethtallion’s Journey/Library/StateCache/SceneView/001cc8-mainStage.json
Ethtallion’s Journey/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Ethtallion’s Journey/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
*.dll
Ethtallion’s Journey/Library/ScriptAssemblies/Assembly-CSharp.dll
