################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TeamWont2/v16
/Ethtallion’s Journey/obj/Debug
/Ethtallion’s Journey/Temp/bin/Debug
/Ethtallion’s Journey/Temp
Ethtallion’s Journey/Library/CurrentLayout.dwlt
Ethtallion’s Journey/Assembly-CSharp.csproj
